@model ERSAI_Web_Portal.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}
@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "ui large form error", role = "form", autocomplete = "off" }))
{
    @Html.AntiForgeryToken()
    <h3 class="ui dividing header">Change Your Password</h3>
    <div class="ui stacked segment">
        <div class="field">
            @Html.LabelFor(m => m.OldPassword)
            <div class="ui left icon input">
                <i class="lock icon"></i>
                @Html.PasswordFor(m => m.OldPassword, new { autocomplete = "off" })
            </div>
        </div>
        <div class="field">
            @Html.LabelFor(m => m.NewPassword)
            <div class="ui left icon input">
                <i class="lock icon"></i>
                @Html.PasswordFor(m => m.NewPassword, new { autocomplete = "off" })
            </div>
        </div>
        <div class="field">
            @Html.LabelFor(m => m.ConfirmPassword)
            <div class="ui left icon input">
                <i class="lock icon"></i>
                @Html.PasswordFor(m => m.ConfirmPassword, new { autocomplete = "off" })
            </div>
        </div>
        <button type="submit" class="ui fluid large teal submit button">Change Password</button>
    </div>

    if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary(false, "", new { @class = "ui error message", id = "LoginPageValidationSummary" });
    }
}