@model ERSAI_Web_Portal.Models.GetPasswordViewModel
@{
    ViewBag.Title = "Get your password";
}

<h3 class="ui dividing header">@ViewBag.Title</h3>
@using (Html.BeginForm("GetPassword", "Account", FormMethod.Post, new { @class = "ui large form error", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4 class="ui dividing header">Provide your credentials</h4>
    <div class="field">
        <div class="ui left icon input">
            <i class="user icon"></i>
            @Html.TextBoxFor(m => m.BadgeNumber, new { type = "text", placeholder = "Badge Number" })
        </div>
    </div>
    <div class="field">
        <label>Date of birth</label>
        <div class="ui left icon input">
            <i class="calendar outline icon"></i>
            @Html.TextBoxFor(m => m.BirthDate, new Dictionary<string, object> { { "data-bind", "datepicker: true, dpOptions: { manual: true }" }, { "placeholder", "Birth date" }, { "data-view", "years" } })
        </div>
    </div>
    <button type="submit" class="ui fluid large teal submit button">Get password</button>

    if (!ViewData.ModelState.IsValid)
    {
        @Html.ValidationSummary(false, "", new { @class = "ui error message", id = "LoginPageValidationSummary" });
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}